.WebsiteContainer {
  height: 100vh;
  padding: 2em;
  transition: background-color 0.5s ease;
}

.WebsiteHeader {
  text-align: center;
}

.WebsiteProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.WebsiteText {
  transition: color 0.5s ease;
}

.BuyNowButton {
  margin-top: 2em;
  transition: background-color 0.5s ease;
}

.ProductImage {
  width: 100%;
}
