@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.ant-tabs .ant-tabs-left-bar {
  background-color: #202025 !important;
  color: #ffffff;
  height: 100vh;
}
